$navy : #16151d;
$light-navy: #1d1b25;
$bright-red : #FF4057;
$dark-red : #9d2836;
$slate : #e6f1ff;
$silver-sand : #bdbfca;
$transition : all 0.3s ease;
$inter-font : 'Inter', sans-serif;
$source-code-pro-font : 'Source Code Pro', monospace;
