.container {

    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & .about {
        width: 100%;
    }

    & div p {
        margin: 20px 0px;
        font-family: $source-code-pro-font;
        font-size: 19px;
    }

}

.about-contact-link {
    text-decoration: none;
    color: $bright-red;
    transition: $transition;

    &:hover {
        color: $dark-red;
    }
}