.container {

    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & .about {
        width: 100%;
        margin: 20px 0;
    }

    & div p {
        margin: 20px 0px;
        font-family: $source-code-pro-font;
        font-size: 19px;
    }

}

.skills {
    margin: 10px 15px;
    
    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    & p {
        font-family: $source-code-pro-font;
        font-weight: 600;
        color: $bright-red;
        font-size: 16px;
    }

}

.about-contact-link {
    text-decoration: none;
    color: $bright-red;
    transition: $transition;

    &:hover {
        color: $dark-red;
    }
}


@media (min-width: 600px) {
    .container .about {
        width: 50%;
        margin: 20px;
    }
}