.exp-cards {
    width: 75%;
    margin: auto;
    margin-top: 20px;
}

.card {
    background-color: $light-dark-blue;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 2px solid $dark-red;
}

.card-heading {
    font-family: $source-code-pro-font;
    font-size: 24px;
    font-weight: 600;
    color: $bright-red;
}

.card-date {
    font-size: 18px;
    color: $text-color;
    margin-bottom: 10px;
}

.card-location {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.location-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    fill: $bright-red;
}

.location-text {
    font-size: 18px;
    color: $bright-red;
}

.card-content p {
    font-size: 18px;
    margin-bottom: 10px;
    color: $text-color;
}

@media (max-width: 600px) {
    .exp-cards {
        width: 100%;
    }

    .card {
        padding: 15px;
        width: 90%;
        margin: 15px auto;
    }

    .card-heading {
        font-size: 20px;
    }

    .card-date,
    .location-text,
    .card-content p {
        font-size: 12px;
    }

    .location-icon {
        width: 16px;
        height: 16px;
        margin-right: 3px;
    }
}