.exp-cards {
    width: 75%;
    margin: auto;
    margin-top: 20px;
}

.card {
    background-color: $light-dark-blue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 350px;
    margin: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: 10px 0px;
        border-bottom: 2px solid $dark-red;
    }

    &-heading {
        font-family: $source-code-pro-font;
        font-size: 24px;
        font-weight: 600;
        color: $bright-red;
    }

    &-date {
        font-size: 18px;
        color: $text-color;
        margin-bottom: 10px;
    }

    &-location {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &-content p {
        font-size: 18px;
        margin-bottom: 10px;
        color: $text-color;
        font-family: $source-code-pro-font;
    }

}

.location {

    &-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        fill: $bright-red;
    }

    &-text {
        font-size: 18px;
        color: $bright-red;
    }
}

@media (max-width: 600px) {
    .exp-cards {
        width: 100%;
    }

    .card {
        padding: 20px;
        width: 100%;
        margin: 15px auto;

        &-heading {
            font-size: 20px;
        }

        &-date,
        &-content p {
            font-size: 12px;
        }
    }

    .location {

        &-icon {
            width: 16px;
            height: 16px;
            margin-right: 3px;
        }

        &-text {
            font-size: 15px;
        }
    }

}