@import './variables';

.container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;

    & div {
        margin: 30px 0px 10px 0px;
        font-size: clamp(1rem, 1.5vw, 2rem);
    }

    & .name-text {
        font-size: clamp(6rem, 7vw, 8rem);
        line-height: 100%;
        font-weight: 600;
        text-shadow: 10px 0px black;
    }
}


p {
    text-align: left;
    font-family: $source-code-pro-font;
}

.popup {
    position: relative;
    display: inline-block;
    color: $bright-red;
    cursor: default;

    & &-content {
        visibility: hidden;
        width: 120px;
        background-color: $light-dark-blue;
        color: $bright-red;
        text-align: center;
        padding: 8px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: visibility 0s, opacity 0.3s;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    }

    &:hover &-content {
        visibility: visible;
        opacity: 1;
    }

}

.location {

    display: flex;

    &-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        fill: $bright-red;
    }

    &-text {
        font-size: 18px;
        color: $bright-red;
    }
}

@media (max-width: 600px) {
    .container {
        margin-top: 0px;

        & .name-text {
            font-size: clamp(5rem, 6vw, 7rem);
        }
    }
}