@import './variables';

.container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;

    & div {
        margin: 30px 0px 10px 0px;
        font-size: clamp(1rem, 1.5vw, 2rem);
    }

    & .name-text {
        font-size: clamp(6rem, 7vw, 8rem);
        line-height: 100%;
        font-weight: 600;
        text-shadow: 10px 0px black;
    }
}


p {
    text-align: left;
    font-family: $source-code-pro-font;
}

@media (max-width: 600px) {
    .container {
        margin-top: 0px;

        & .name-text {
            font-size: clamp(5rem, 6vw, 7rem);
        }
    }
}