@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: slow;
}

body {
  background-color: $navy;
  text-decoration: none;
  font-family: $source-code-pro-font;
  color: $silver-sand;
  font-weight: 600;
  font-size: 18px;
}

html,
body {
  scrollbar-width: thin;
  scrollbar-color: $bright-red $navy ;
}

.section {

  &-width {
    width: 90%;
    margin-left: 10%;
    padding: 20px;
  }

  &-title {

    font-size: clamp(3rem, 3vw, 5rem);
  }

  &-title p {
    margin: 0;
    text-shadow: 10px 0px black;
  }

  &-line {
    background-color: $bright-red;
    height: 5px;
    width: 50%;
    margin: auto;
  }

  &-heading {
    margin-top: 7%;
    text-align: center;
    font-family: $inter-font;
  }

}


.introduction {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .section-width {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 320px) {
  .main-content{
      margin-top: 90%;
  }

  #about{
    margin-top: 30%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 399px) {
  .main-content{
      margin-top: 30%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 599px) {
  .main-content{
      margin-top: 15%;
  }
}

@media only screen and (min-height: 600px) and (max-height: 750px) {
  .main-content{
      margin-top: 45%;
  }
}


@media only screen and (min-height: 801px) and (max-height: 830px) {
  .main-content{
      margin-top: 25%;
  }
}

@media only screen and (width: 800px) {
  .main-content{
    margin-top: -30%;
  }
}

@media only screen and (width: 360px) {
  .main-content{
    margin-top: 50%;
  }
}