@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: slow;
}

body {
  background-color: $dark-blue;
  text-decoration: none;
  font-family: $inter-font;
  color : $text-color;
  font-weight: 600;
  font-size: 18px;
}

html, body{
  scrollbar-width: thin;
  scrollbar-color: $bright-red $dark-blue ;
}

.section-width{
  width: 90%;
  margin-left: 10%;
  padding: 20px;
}

.section-title{
  font-size: clamp(3rem, 3vw, 5rem);
}

.section-title p{
  margin: 0;
  text-shadow: 10px 0px black;
}

.section-line {
  background-color: $bright-red;
  height: 5px;
  width: 50%;
}


.introduction{
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .section-width{
    width: 100%;
    margin: 0;
  }
}