@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: slow;
}

body {
  background-color: $dark-blue;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color : $text-color;
  font-weight: 600;
  font-size: 18px;
}

html, body{
  scrollbar-width: thin;
  scrollbar-color: $bright-red $dark-blue ;
}

.section-width{
  width: 90%;
  margin-left: 10%;
  padding: 20px;
}

@media (max-width: 600px) {
  .section-width{
    width: 100%;
    margin: 0;
  }
}