@import './variables';

nav {
    padding: 20px;
    font-family: $source-code-pro-font;
    position: fixed;
    background-color: $dark-blue;
    width: 100%;
    z-index: 999;
    top: 0;

    .nav-link {
        color: $bright-red;
        font-size: 18px;
        margin: 0 10px;
        transition: $transition;

        &:hover {
            color: $dark-red;
        }
    }

    .db-slash {
        color: $slate;
        font-weight: bold;
    }

    .resume {
        &-slash {
            display: none;
        }

        &-btn {
            border: 1px solid $bright-red;
            padding: 10px 15px;
            color: $bright-red;
            text-decoration: none;
            transition: $transition;

            &:hover {
                box-shadow: 5px 5px $bright-red;
            }
        }

    }

    .prav-heading {
        font-size: 2rem;
        color: $bright-red;
        font-style: italic;
        font-weight: bold;
        transition: $transition;

        &:hover {
            color: $slate;
        }
    }

    .hamburger-menu {
        color: $bright-red;
    }

    @media (max-width: 1000px) {
        .resume-btn {
            margin: 0 10px;
            border: none;
            font-size: 18px;
            padding: 0;

            &:hover {
                box-shadow: none;
            }
        }

        .resume-slash {
            display: inline;
        }

        .hamburger-menu:focus {
            border: none;
        }

        .db-slash {
            display: none;
        }
    }
}