@import "@/styles/_variables.scss";

.vertical-line {
    width: 1px;
    height: 25%; /* Adjust the height as needed */
    background-color: $bright-red; /* Set the color of the line */
  }
  

.socials-div {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: 600px) {
        display: none;
    }
}

.logo-div {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.logo {
    width: 35px;
    margin: 10px;
    transition: $transition;
}

.logo:hover{
    transform: translateY(-7px);
    border: none;
}